body {
	background: url("/static/draft/img/back.jpg");
	background-color: black;
	background-size: cover;
	min-height: 100%;
}

.info-box {
	background: rgb(100, 100, 100);
	background: rgba(100, 100, 100, 0.5);
	color: white;
}

.col-header {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    border-top: solid 2px rgba(40, 40, 140, 0.5);
    border-bottom: solid 2px rgba(40, 40, 140, 0.5);
    background: rgba(230, 230, 255, 0.8);
    text-align: center;

    flex-shrink: 0;
}
