.draft-index-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    width: 70%;
    color: #eee;
    background-color: rgba(80, 80, 140, 0.5);
    box-shadow: 0 0 80px 10px rgb(80, 80, 140);

    display: flex;
}

.draft-index-nav > ul {
    flex: 1 1 0;
    margin: 0;
    padding: 0;
}

.draft-index-nav li {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    list-style: none;

    transition: 0.2s;
}

.draft-index-nav li:first-child {
    margin-top: 0;
}

.draft-index-nav li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.draft-index-nav li a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.draft-index-nav li > label {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.my-drafts-area {
    flex: 1 1 0;
}

.my-drafts {
    margin: 0;
    padding: 0;
}

.my-drafts:empty::after {
    content: "(no current drafts)";
    display: block;
    padding: 10px;
    font-style: italic;
}
