#content {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;

    display: flex;
    height: auto;
    justify-content: center;
}

.start-draft-area {
    flex: 1;

    align-items: center;
    justify-content: center;

    margin-right: 1px;
}

.start-draft-area:not(.ko-pending) {
    display: flex;
}

.start-draft {
    font-size: 1.4em;
    line-height: 2em;
    padding: 20px 40px;

    cursor: pointer;
    color: white;

    background: rgba(40, 40, 140, 0.6);

    border: 0;
}

.start-draft:hover {
    background: rgba(40, 40, 140, 0.8);
}

.start-draft:focus {
    outline: none;
    text-shadow: 0 0 4px rgba(140, 140, 40, 0.6);
}

.start-draft:active {
    box-shadow: inset 0 0 10px #666;
}

.drafters-area:not(.ko-pending) {
    display: flex;
    flex-direction: column;
}

.drafters {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 200px;

    flex: 1;
    overflow: auto;
}

.one-drafter {
    margin: 0;
    padding: 10px;
}

.add-drafter {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    color: white;
    background: rgba(40, 140, 40, 0.6);
    cursor: pointer;
}

.add-drafter:hover {
    background: rgba(40, 140, 40, 0.8);
}

.add-drafter:focus {
    outline: none;
    text-shadow: 0 0 4px rgba(140, 140, 40, 0.6);
}

.add-drafter:active {
    box-shadow: inset 0 0 10px #666;
}
