#content {
    display: flex;
    align-items: stretch;
}

.col:not(.ko-pending) {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    overflow: auto;
}

.col-header {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    border-top: solid 2px rgba(40, 40, 140, 0.5);
    border-bottom: solid 2px rgba(40, 40, 140, 0.5);
    background: rgba(230, 230, 255, 0.8);
    text-align: center;

    flex-shrink: 0;
}

.drafters {
    list-style: none;

    flex: 1;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one-drafter {
    display: block;
    background: rgba(40, 40, 140, 0.5);
    line-height: 28px;
    padding: 10px;
    color: white;
}

.one-drafter.current {
    background: rgba(140, 140, 40, 0.5);
}

.one-drafter.self {
    font-style: italic;
}

.main:not(.ko-pending) {
    display: flex;
}

.main {
    flex: 1;

    flex-direction: column;

    align-items: stretch;

    margin: 0 1px;
}

.players-area {
    flex: 1;

    display: flex;
    align-items: stretch;
}

.available-players {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.one-available-player {
    display: block;
    line-height: 28px;
    padding: 10px;
    border-top: 1px solid rgba(40, 40, 140, 0.3);
    cursor: pointer;
}

.one-available-player:first-child {
    border-top: none;
}

.one-available-player.selected {
    background: rgba(140, 140, 40, 0.5);
}

.selected-player {
    flex: 1;
    margin-left: 1px;
}

.team-area {
    flex: 1;
    margin-top: 1px;
}

.draftees {
    list-style: none;

    flex: 1 0 auto;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    counter-reset: draftees;
}

.one-drafted-player {
    position: relative;
    display: block;
    text-align: right;

    line-height: 28px;
    padding: 10px;
    padding-right: 15px;

    color: white;

    border-top: solid 1px rgba(40, 40, 140, 0.3);
}

.drafted-player-name {
    position: relative;
}

.one-drafted-player:first-child {
    border-top: none;
}

.one-drafted-player::before {
    counter-increment: draftees;

    position: absolute;
    content: counter(draftees);
    right: 10px;
    top: 10px;
    font-size: 2.5em;
    font-style: italic;
    color: rgba(40, 140, 140, 0.6);
}
