{% extends "draft/base.html" %}

{% load staticfiles %}

{% block jsMain %}{% static 'draft/views/index' %}{% endblock %}

{% block pageCSS %}<link rel="stylesheet" type="text/css" href="{% static 'draft/css/index.css' %}">{% endblock %}

{% block content %}
<nav class="draft-index-nav">
    <ul class="primary">
        <li><a href="{% url 'draft.views.create' %}">Create</a></li>
        <li><label for="show-my-drafts">My Drafts</label></li>
    </ul>
    <input type="checkbox" id="show-my-drafts" class="offscreen">
    {% spaceless %}
    <ul class="my-drafts">
        {% for d in user_drafts %}
        <li><a href="{% url 'draft.views.singleDraft' d.id %}">{{ d.name }}</a></li>
        {% endfor %}
    </ul>
    {% endspaceless %}
</nav>
{% endblock %}
