{% extends "draft/base.html" %}

{% load staticfiles %}

{% block jsMain %}{% static "draft/views/predraft.js" %}{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'draft/css/predraft.css' %}">
{% endblock %}

{% block content %}
<div class="info-box start-draft-area ko-pending" data-bind="css: {'ko-pending': false}">
    <button class="start-draft">Start Draft</button>
</div>
<div class="info-box drafters-area ko-pending" data-bind="css: {'ko-pending': false}">
    <h2 class="col-header">Drafters</h2>
    <ul class="drafters" data-bind="foreach: drafterUsers">
        <li class="one-drafter" data-bind="
            text: getName()
        "></li>
    </ul>
    <!-- ko if: isOwner -->
    <div class="add-drafter-area" data-bind="css: {'adding-drafter': addingDrafter}">
        <div class="adding-drafter-area">
            <select class="add-drafter-select" data-bind="options: unusedUsers,
                optionsCaption: 'Select a user...',
                optionsText: function(user) {return user.getName();},
                value: drafterToAdd
                "></select>
            <button class="cancel-add-drafter button" data-bind="click: cancelAddDrafter">&#x2190;</button>
            <button class="confirm-add-drafter button" data-bind="
                css: {disabled: drafterToAdd() == null},
                click: confirmAddDrafter
                ">&#x2713;</button>
        </div>
        <button class="open-add-drafter" data-bind="click: openAddDrafter">Add Drafter</button>
    </div>
    <!-- /ko -->
</div>
{% endblock %}
