{% extends "draft/base.html" %}

{% load staticfiles %}

{% block jsMain %}{% static "draft/views/predraft.js" %}{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'draft/css/predraft.css' %}">
{% endblock %}

{% block content %}
<div class="info-box start-draft-area ko-pending" data-bind="css: {'ko-pending': false}">
    <button class="start-draft">Start Draft</button>
</div>
<ul class="info-box drafters ko-pending" data-bind="css: {'ko-pending': false}">
    <!-- ko foreach: drafterUsers -->
    <li class="one-drafter" data-bind="
        text: getName()
    "></li>
    <!-- /ko -->
    <li class="add-drafter" data-bind="if: isOwner">
        <!-- ko if: addingDrafter -->

        <!-- /ko -->
        <!-- ko ifnot: addingDrafter -->

        <!-- /ko -->
    </li>
</ul>
{% endblock %}
