{% extends "draft/base.html" %}

{% load staticfiles %}

{% block jsMain %}{% static "draft/views/predraft.js" %}{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'draft/css/predraft.css' %}">
{% endblock %}

{% block content %}
<div class="info-box start-draft-area ko-pending" data-bind="css: {'ko-pending': false}">
    <button class="start-draft">Start Draft</button>
</div>
<div class="info-box drafters-area ko-pending" data-bind="css: {'ko-pending': false}">
    <h2 class="col-header">Drafters</h2>
    <ul class="drafters" data-bind="foreach: drafterUsers">
        <li class="one-drafter" data-bind="
            text: getName()
        "></li>
    </ul>
    <!-- ko if: isOwner -->
    <div class="add-drafter-area">
        <!-- ko if: addingDrafter -->
            <select data-bind="options: users"></select>
        <!-- /ko -->
        <!-- ko ifnot: addingDrafter -->
            <button class="add-drafter">Add Drafter</button>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
{% endblock %}
