{% extends "draft/base.html" %}

{% load staticfiles %}

{% block jsMain %}{% static "draft/views/singleDraft.js" %}{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'draft/css/singleDraft.css' %}">
{% endblock %}

{% block content %}
<div class="drafters-area col ko-pending" data-bind="css: {'ko-pending': false}">
    <h2 class="col-header">Drafters</h2>
    <ul class="info-box drafters" data-bind="foreach: drafterUsers">
        <li class="one-drafter" data-bind="
            css: {
                current: $root.currentDrafterId() === $data.getId(),
                self: $root.session().user === $data.getId(),
                viewing: $root.selectedUserId() === $data.getId()
            },
            text: getName(),
            click: $root.clickUser"></li>
    </ul>
</div>
<div class="main ko-pending" data-bind="css: {'ko-pending': false}">
    <div class="players-area">
        <div class="col info-box available-players-area">
            <h2 class="col-header">Available Players</h2>
            <ul class="available-players" data-bind="foreach: availablePlayers">
                <li class="one-available-player" data-bind="
                    css: {
                        selected: $root.selectedPlayerId() === $data.getId()
                    },
                    text: getName(),
                    click: $root.clickPlayer"></li>
            </ul>
        </div>
        <div class="selected-player info-box">
            <!-- ko if: selectedPlayer -->
            <h2 class="col-header selected-player-name" data-bind="text: selectedPlayer().getName()"></h2>
            <div class="player-stats">
                <div class="player-stats-section offense-stats">
                    <h3 class="stats-section-header">Offense</h3>
                    <div class="stats-row">
                        <div class="one-stat">
                            <label class="stat-label">Passing</label>
                            <div class="stat-value" data-bind="text: selectedPlayer().getPassing()"></div>
                        </div>
                        <div class="one-stat">
                            <label class="stat-label">Hands</label>
                            <div class="stat-value" data-bind="text: selectedPlayer().getHands()"></div>
                        </div>
                        <div class="one-stat">
                            <label class="stat-label">Rushing</label>
                            <div class="stat-value" data-bind="text: selectedPlayer().getRushing()"></div>
                        </div>
                    </div>
                    <h4 class="stats-row-header">Receiving</h3>
                    <div class="stats-row">
                        <div class="one-stat">
                            <label class="stat-label">Short</label>
                            <div class="stat-value"
                                data-bind="text: selectedPlayer().getReceiveShort()"></div>
                        </div>
                        <div class="one-stat">
                            <label class="stat-label">Mid</label>
                            <div class="stat-value"
                                data-bind="text: selectedPlayer().getReceiveMid()"></div>
                        </div>
                        <div class="one-stat">
                            <label class="stat-label">Deep</label>
                            <div class="stat-value"
                                data-bind="text: selectedPlayer().getReceiveDeep()"></div>
                        </div>
                    </div>
                    <div class="stats-row">
                        <div class="one-stat">
                            <label class="stat-label">Blocking</label>
                            <div class="stat-value" data-bind="text: selectedPlayer().getBlocking()"></div>
                        </div>
                        <div class="one-stat">
                            <label class="stat-label">Kicking</label>
                            <div class="stat-value" data-bind="text: selectedPlayer().getKicking()"></div>
                        </div>
                    </div>
                </div>
                <div class="player-stats-section defense-stats">
                    <h3 class="stats-section-header">Defense</h3>
                    <div class="stats-row">
                        <div class="one-stat">
                            <div class="stat-label">Pass - Man</div>
                            <div class="stat-value" data-bind="text: selectedPlayer().getPassMan()"></div>
                        </div>
                        <div class="one-stat">
                            <div class="stat-label">Pass - Zone</div>
                            <div class="stat-value" data-bind="text: selectedPlayer().getPassZone()"></div>
                        </div>
                    </div>
                    <div class="stats-row">
                        <div class="one-stat">
                            <div class="stat-label">Run Defense</div>
                            <div class="stat-value" data-bind="text: selectedPlayer().getRunDefense()"></div>
                        </div>
                        <div class="one-stat">
                            <div class="stat-label">Blitzing</div>
                            <div class="stat-value" data-bind="text: selectedPlayer().getBlitzing()"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ko if: session().user === currentDrafterId() -->
            <footer class="player-actions">
                <!-- ko if: 'B' in availableDraftTypes() -->
                    <button class="draft-player type-both" data-bind="
                        css: {
                            'already-drafted': !availableDraftTypes().B
                        },
                        click: draftPlayerHandler()">
                        Draft <!-- ko text: selectedPlayer().getName() --><!-- /ko -->
                    </button>
                <!-- /ko -->
                <!-- ko ifnot: 'B' in availableDraftTypes() -->
                    <button class="draft-player type-O" data-bind="
                        css: {
                            'already-drafted': !availableDraftTypes().O
                        },
                        click: draftPlayerHandler('O')">
                        Draft <!-- ko text: selectedPlayer().getName() --><!-- /ko --> (offense)
                    </button>
                    <button class="draft-player type-D" data-bind="
                        css: {
                            'already-drafted': !availableDraftTypes().D
                        },
                        click: draftPlayerHandler('D')">
                        Draft <!-- ko text: selectedPlayer().getName() --><!-- /ko --> (defense)
                    </button>
                <!-- /ko -->
            </footer>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <div class="team-area info-box">
        <!-- ko if: selectedUser -->
            <h2 class="col-header" data-bind="text: selectedUser().getName()"></h2>
            <ul class="user-drafted-players" data-bind="foreach: selectedUserPlayers">
                <li class="one-drafted-player" data-bind="
                    click: function() {$root.clickPlayer(player)},
                    css: {
                        selected: $root.selectedPlayerId() === player.getId(),
                        'type-O': type === 'O',
                        'type-D': type === 'D'
                    }
                    ">
                    <span class="drafted-player-name" data-bind="text: player.getName()"></span>
                </li>
            </ul>
        <!-- /ko -->
    </div>
</div>
<div class="draftees-area col ko-pending" data-bind="css: {'ko-pending': false}">
    <h2 class="col-header">Drafted Players</h2>
    <ul class="info-box draftees" data-bind="foreach: draftedPlayers">
        <li class="one-drafted-player" data-bind="
            click: function() {$root.clickPlayer(player)},
            css: {
                selected: $root.selectedPlayerId() === player.getId(),
                'type-O': type === 'O',
                'type-D': type === 'D'
            }
            ">
            <span class="drafted-player-name" data-bind="text: player.getName()"></span>
        </li>
    </ul>
</div>
{% endblock %}
