{% extends "draft/base.html" %}

{% load staticfiles %}

{% block jsMain %}{% static "draft/views/singleDraft.js" %}{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'draft/css/singleDraft.css' %}">
{% endblock %}

{% block content %}
<div class="drafters-area col ko-pending" data-bind="css: {'ko-pending': false}">
    <h2 class="col-header">Drafters</h2>
    <ul class="info-box drafters" data-bind="foreach: drafterUsers">
        <li class="one-drafter" data-bind="
            css: {
                current: $root.currentDrafterId() === $data.getId(),
                self: $root.session().user === $data.getId()
            },
            text: getFirstName() + ' ' + getLastName()">

        </li>
    </ul>
</div>
<div class="main ko-pending" data-bind="css: {'ko-pending': false}">

</div>
<div class="draftees-area col ko-pending" data-bind="css: {'ko-pending': false}">
    <h2 class="col-header">Drafted Players</h2>
    <ul class="info-box draftees" data-bind="foreach: draftedPlayers">
        <li class="one-drafted-player">
            <span class="drafted-player-name" data-bind="text: getFirstName() + ' ' + getLastName()"></span>
        </li>
    </ul>
</div>
{% endblock %}
